obj
bin
build
distrib
index.html
_ReSharper.*
*.csproj.user
*.ReSharper.user
*.ReSharper
*.suo
*.cache
*~
*.swp
~$*
/ManagementCompany/Repository/bin
/ManagementCompany/Repository/obj
/ManagementCompany/ManagementCompany/ManagementCompany.6.0.ReSharper.user
/ManagementCompany/ManagementCompany/_ReSharper.ManagementCompany
