<?xml version="1.0"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="MCDatabaseModelContainer" connectionString="metadata=res://*/MCDatabaseModel.csdl|res://*/MCDatabaseModel.ssdl|res://*/MCDatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CLERIC-LAPTOP\SQLEXPRESS;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ManagementCompany.Properties.Settings.ConnectionString"
      connectionString="Data Source=CLERIC-LAPTOP\SQLEXPRESS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
