<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="MCDatabaseModelContainer" connectionString="metadata=res://*/MCDatabaseModel.csdl|res://*/MCDatabaseModel.ssdl|res://*/MCDatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=alpha\SQLEXPRESS;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ManagementCompany.Properties.Settings.ConnectionString"
      connectionString="Data Source=alpha\SQLEXPRESS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ManagementCompany.Properties.Settings.CLERICLAPTOPSQLEXPRESS"
      connectionString="Data Source=alpha\SQLEXPRESS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ManagementCompany.Properties.Settings.ManagementCompany"
      connectionString="Data Source=alpha\SQLEXPRESS;Initial Catalog=ManagementCompany;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ManagementCompany.Properties.Settings.masterConnectionString"
      connectionString="Data Source=alpha\SQLEXPRESS;Initial Catalog=master;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>